[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
requests = "*"
requests-oauthlib = "*"
numpy = "*"
"mecab-python3" = "*"
lxml = "*"
htmlparser = "*"
mysqlclient = "*"
gensim = "*"
pandas = "*"
matplotlib = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
